block header
    header.header
        .header__container
            .header__row
                .header__logo
                    a(href="/")
                        img(src="image/logo.svg", alt="logo")
                .header__menu
                    nav.menu
                        ul.menu-active
                            li
                                a(href="#") Home
                            li
                                a(href="#") Features
                            li
                                a(href="#") Gallary
                            li
                                a(href="#") Testimonials
                .header__btn 
                +btn("large","Book now")